@import "../../theme/colors";

@font-face {
  font-family: Ardeco;
  src: url("../../../../lab2/src/assets/fonts/ardeco/Ardeco.ttf") format("truetype");
}

body {
  font-family: 'Raleway', sans-serif;
  color: $color-text-main;
  background-color: $color-bg;
  max-width: 1620px;
  margin: 0 auto;
}

.container, .container-header, .container-footer {
  padding-left: 128px;
  padding-right: 128px;
  margin: 0;
  max-width: 100%;
}

.container {
  padding-top: 128px;
  padding-bottom: 128px;
}

.container-header {
  margin-top: 12px;
  margin-bottom: 12px;
}

.container-footer {
  padding-top: 64px;
  padding-bottom: 64px;
}


/*hero section*/

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(87, 71, 58)), url("../../assets/imgs/products/home.png") center;
  background-size: cover;
  height: calc(100vh - (80px + 24px));

  color: $color-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 64px;
}

.hero__title {
  font-family: Ardeco, serif;
  font-size: 96px;
  font-weight: lighter;
}

.hero__description {
  align-self: end;
  max-width: calc(100vw / 2);
  text-align: right;
  font-size: 20px;
}

/*about section*/

.about {
  display: grid;
  grid-template-areas:
      "quote img"
      "link img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto max-content;
  column-gap: 4rem;
  row-gap: 32px;
}

.about__quote {
  font-size: 1.1rem;
  align-self: center;
}

.about__quote-author {
  margin-top: 24px;
  font-size: 2rem;
  font-weight: lighter;
  text-transform: uppercase;

  span {
    font-size: 1rem;
  }
}

.about__photo {
  max-width: 100%;
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 2;
  align-self: center;
}

.link {
  display: inline-block;
  color: $color-text-main;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 16px 64px;

  border: 1px solid;
  border-radius: 50px;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    background-color: $color-bg-teal;
  }
}


.about__link {
  justify-self: start;
  align-self: end;
}


.invitation {
  background: url("../../assets/imgs/products/home1.jpg") bottom;
  background-size: cover;
  color: $color-bg;
  font-size: 64px;
  text-align: center;

  p + p {
    margin-top: 64px;
  }
}

.invitation__address {
  font-size: 2rem;

  a {
    color: $color-bg;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


.invitation__link {
  color: $color-bg;
  margin-top: 96px;
}


/*services*/

.services {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  background-color: $color-bg-lighter;
}

.services__card {
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    position: relative;
    max-width: none;
    min-height: 100%;
    width: calc(100% + 30px);
    opacity: 0.9;

    transform: translate3d(-30px, 0, 0);
    transition: opacity 0.35s, transform 0.35s;
  }

  figcaption {
    text-align: left;
    color: $color-text-main;

    &> div {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2rem;
      width: 100%;
      height: 50%;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, $color-bg-op 75%);
      content: '';
      opacity: 0;
    }
  }

  p {
    margin-top: 16px;
    font-size: 0.9rem;
    transition: opacity 0.2s, transform 0.35s;
  }

  h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  h2, p {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    font-size: 0;
  }
}


.services__card:hover img,
.services__card:hover h2,
.services__card:hover p,
.services__card:hover figcaption::before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.35s;
}


/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-bg-dark;
  color: $color-logo;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  list-style: none;

  li + li {
    padding-top: 1rem;
  }
}

.footer__contact-link {
  color: $color-logo;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
